<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Fashion Style</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="~/templatemo_style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/nivo-slider.css" type="text/css" media="screen">

    <link rel="stylesheet" type="text/css" href="~/css/ddsmoothmenu.css">

    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/ddsmoothmenu.js">

        /***********************************************
        * Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
        * This notice MUST stay intact for legal use
        * Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
        ***********************************************/

    </script>

    <script type="text/javascript">

        ddsmoothmenu.init({
            mainmenuid: "top_nav", //menu DIV id
            orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
            classname: 'ddsmoothmenu', //class added to menu's outer DIV
            //customtheme: ["#1c5a80", "#18374a"],
            contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
        })

    </script>

</head>
<body>
    <div class="ddshadow toplevelshadow" style="left: 386.203px; top: 175px;"></div><div class="ddshadow toplevelshadow" style="left: 280.516px; top: 175px;"></div>

    <div id="templatemo_body_wrapper">
        <div id="templatemo_wrapper">

            <div id="templatemo_header">
                <div id="site_title"><h1><a href="#">GUMAC</a></h1></div>
                <div id="header_right">
                    <p>
                        <a style="float:left">@Session["Logged"]</a> | <a href='@Url.Action("Register","User")'>Register</a> | <a href="@Url.Action("Index","Cart")">My Cart</a>
                    </p>
                    @*<p>
                            Shopping Cart: <strong>3 items</strong> ( <a href="shoppingcart.html">Show Cart</a> )
                        </p>*@
                </div>
                <div class="cleaner"></div>
            </div> <!-- END of templatemo_header -->

            <div id="templatemo_menubar">
                <div id="top_nav" class="ddsmoothmenu">
                    <ul>
                        <li><a href="@Url.Action("Index", "Home")" class="selected">Home</a></li>
                        <li style="z-index: 100;">
                            <a href="products.html">Products</a>
                            <ul style="display: none; top: 40px; visibility: visible;">
                                <li><a href="#submenu1">Sub menu 1</a></li>
                                <li><a href="#submenu2">Sub menu 2</a></li>
                                <li><a href="#submenu3">Sub menu 3</a></li>
                                <li><a href="#submenu4">Sub menu 4</a></li>
                                <li><a href="#submenu5">Sub menu 5</a></li>
                            </ul>
                        </li>
                        <li style="z-index: 99;">
                            <a href="@Url.Action("About", "Home")">About</a>
                            @*<ul style="display: none; top: 40px; visibility: visible;">
                                    <li><a href="#submenu1">Sub menu 1</a></li>
                                    <li><a href="#submenu2">Sub menu 2</a></li>
                                    <li><a href="#submenu3">Sub menu 3</a></li>
                                </ul>*@
                        </li>
                        @*<li><a href="faqs.html">FAQs</a></li>
                            <li><a href="checkout.html">Checkout</a></li>*@
                        @if (Session["Logged"] != null)
                        {
                            <li>@Html.ActionLink("Log out", "Logout", "User")</li>
                            @*<li>@Html.ActionLink((String)Session["Logged"], "Index", "Home")</li>*@
                        }
                        else
                        {
                            <li>@Html.ActionLink("Log in", "Login", "User")</li>

                        }

                        @*<li><a href="contact.html">Contact Us</a></li>*@
                    </ul>
                    <br style="clear: left">
                </div> <!-- end of ddsmoothmenu -->
                <div id="templatemo_search">
                    <form action="#" method="get">
                        <input type="text" value=" " name="keyword" id="keyword" title="keyword" onfocus="clearText(this)" onblur="clearText(this)" class="txt_field">
                        <input type="submit" name="Search" value=" " alt="Search" id="searchbutton" title="Search" class="sub_btn">
                    </form>
                </div>
            </div> <!-- END of templatemo_menubar -->

            <div id="templatemo_main">
                <div id="sidebar" class="float_l">
                    <div class="sidebar_box">
                        <span class="bottom"></span>
                        <h3>Categories</h3>
                        <div class="content">




                            @Html.Action("getCategories", "Product")





                        </div>
                    </div>
                    <div class="sidebar_box">
                        <span class="bottom"></span>
                        <h3>Bestsellers </h3>
                        <div class="content">
                            <div class="bs_box">
                                <a href="#"><img src="https://gumac.vn/image/thang120springtime/ms80311220190908299982.jpg?width=450" alt="image" width="40%" height="60%"></a>
                                <h4><a href="#">Đầm bẹt vai đính hoa</a></h4>
                                <p class="price">495.000 VND</p>
                                <div class="cleaner"></div>
                            </div>
                            <div class="bs_box">
                                <a href="#"><img src="https://gumac.vn/image/thang1209/a31061220191057248296.jpg?width=450" alt="image" width="40%" height="60%"></a>
                                <h4><a href="#">Áo khoác vest chạy viền</a></h4>
                                <p class="price">890.000 VND</p>
                                <div class="cleaner"></div>
                            </div>
                            <div class="bs_box">
                                <a href="#"><img src="https://gumac.vn/image/thang1209/at33xr061220191058045170.jpg?width=450" alt="image" width="40%" height="60%"></a>
                                <h4><a href="#">Áo xoắn eo tay ngắn</a></h4>
                                <p class="price">160.000 VND</p>
                                <div class="cleaner"></div>
                            </div>
                            <div class="bs_box">
                                <a href="#"><img src="http://giaybom.com/image/giaythethao/b950/b95035070120201602549213.jpg?width=750&amp;format=jpeg" alt="image" width="40%" height="60%"></a>
                                <h4><a href="#">Giày thể thao B950</a></h4>
                                <p class="price">355.000 VND</p>
                                <div class="cleaner"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="content" class="float_r">






                    @RenderBody()





                </div>
                <div class="cleaner"></div>
            </div> <!-- END of templatemo_main -->

            <div id="templatemo_footer">
                <p>
                    <a href="@Url.Action("Index", "Home")">Home</a> | <a href="#">Products</a> | <a href="@Url.Action("About", "Home")">About</a> | <a href="#">FAQs</a> | <a href="#">Checkout</a> | <a href="#">Contact Us</a>
                </p>

                Copyright © 2072 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->
            </div> <!-- END of templatemo_footer -->

        </div> <!-- END of templatemo_wrapper -->
    </div> <!-- END of templatemo_body_wrapper -->


</body>
</html>
